body {
  color: olive;
}

h1 {
  font-size: 1em;
}

/* class */
.ai {
  background-color: lightcoral !important;
}

/* body가 p의 부모 요소 */
/* +는 형제 선택 */
/* 선택자를 구체적으로 쓸 수록 우선순위가 높아짐 */
body h2 + p {
  background-color: lightyellow;
}

body p[class] {
  background-color: lightblue;
}

/* id */
/* id="ai"를 가진 요소의 배경을 핑크색(pink)으로 설정 */
#ai {
  background-color: pink;
}

/* 단축 표기법 */
/* .ai 그리고 .copilot 클래스를 모두 가진 요소에 적용 */
.ai.copilot {
  border: 10px dotted blue;
}

/* 상속받은 값을 쓸거라는 뜻 */
a {
  color: inherit;
}
